@model Learner.Controllers.QuizzerViewModel

@{
    ViewBag.Title = "Quizzer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/knockout-2.1.0.js"></script>
<link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
<pre>
<textarea id="info">
@Html.Raw(@"")
    
</textarea>
</pre>

<div ng-app="xyz">
    <div ng-controller="QuizCtrl" ng-init="init()">
        <div id="itemDialog" class="modal hideXX" ng-show="selectedEntrySet && selectedEntrySet.entries.length > selectedEntryIndex" style="width: 300px; position: absolute">
            <div class="modal-header">{{selectedEntrySet.name}}</div>
            <div id="itemText" class="modal-body">{{selectedEntry.text}}</div>  
            <div class="modal-footer">
                <a id="google" class="btn">Google!</a>
                <a id="anotherTopic" class="btn" ng-click="anotherTopic()">Another Topic</a>
                <a class="btn btn-primary" ng-click="next()">Ok</a>
            </div>  
        </div>
    
        <button ng-click="sortTopics()">Reorder</button>
        <button ng-click="recreateJson()">Recreate</button>
        <button ng-click="initAddMode()">Add</button>

        <div ng-show="addMode">
            <input type="text" ng-model="entryName"></text>
            <textarea ng-model="newContent">

            </textarea>
            <button ng-click="add()">Add</button>
        </div>
        
        <pre>{{getScope()}}</pre>
        <div>
            
            <div ng-repeat="quizTopic in jsonified">
                <span ng-click="openTopic(quizTopic)">Name: {{quizTopic.name}} [{{quizTopic.entries[0].text.substring(0, 40)}}] ({{quizTopic.entries.length}})</span> <a href="#" ng-click="editSelected(quizTopic)">Edit</a>
                
                 <div ng-show="editMode && quizTopic == selectedEntrySet">
                    <input ng-model="quizTopic.name" />
                    <div ng-repeat="entry in quizTopic.entries">
                        <input ng-model="entry.text"></input><button ng-click="deleteEntry(quizTopic, entry)"><i class="icon-remove-circle"></i>Del</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>



@section scripts
{
    <script type="text/javascript" src="~/Scripts/Data/quizzerData.js"></script>
    <script type="text/javascript">
        function fisherYates(myArray) {
            var i = myArray.length, j, tempi, tempj;
            if (i == 0) return false;
            while (--i) {
                j = Math.floor(Math.random() * (i + 1));
                tempi = myArray[i];
                tempj = myArray[j];
                myArray[i] = tempj;
                myArray[j] = tempi;
            }
        }

        $("#google").click(function() {
            var searchString = $("#itemText").text();
            window.open("https://www.google.com/?q=" + searchString, '_blank');
        });


        app = angular.module("xyz", function() {
        });

        function QuizCtrl($scope) {
            //$scope.quizTopics = quizTopics;
            $scope.jsonified = jsonified;
            //$scope.selectedEntrySet = jsonified[0].entries;
            $scope.selectedEntry = null;
            $scope.selectedEntryIndex = -1;
            $scope.editMode = false;

            $scope.init = function() {
                console.log("Initting");

//                console.log(JSON.stringify(jsonified.map(function(item) {
//                    item.entries = item.entries.map(function(item) {
//                        return { text: item };
//                    });
//
//                    return item;
//                })));

                $scope.jsonified.forEach(function(item) {
                    item.entries = item.entries.filter(function(item, index) {
                        return (item.text.length > 0);
                    });
                });

                console.log("Randomizing order of sets");
                $scope.sortTopics();
            };

            $scope.openTopic = function(element) {
                $scope.editMode = false;

                $scope.quizOnArray(element);

            };

            $scope.quizOnArray = function(element) {
                console.debug("About to quiz");

                fisherYates(element);

                $scope.selectedEntrySet = element;
                $scope.selectedEntryIndex = 0;
                $scope.selectedEntry = $scope.selectedEntrySet.entries[$scope.selectedEntryIndex];
            };

            $scope.sortTopics = function() {
                fisherYates($scope.jsonified);
            };

            $scope.anotherTopic = function() {
                $scope.sortTopics();

                $scope.selectedEntrySet = $scope.jsonified[0];
                $scope.quizOnArray($scope.selectedEntrySet);
            };

            $scope.showEntry = function(entry) {
                $scope.selectedEntry = entry;
            };

            $scope.next = function() {
                $scope.selectedEntryIndex++;
            };

            $scope.$watch("selectedEntryIndex", function(newValue, oldValue) {
                console.log("selectedEntryIndex " + newValue);
                if ($scope.selectedEntrySet && newValue > $scope.selectedEntrySet.length) {
                    $scope.selectedEntry = null;
                    $scope.selectedEntryIndex = -1;
                    $scope.selectedEntrySet = null;
                    return;
                }

                if ($scope.selectedEntrySet)
                    $scope.selectedEntry = $scope.selectedEntrySet.entries[newValue];
            });

            $scope.editSelected = function(entry) {
                console.log("Editing");

                $scope.selectedEntrySet = entry;
                $scope.editMode = true;
            };

            $scope.deleteEntry = function(entryParent, entry) {
                console.log("About to delete");
                console.log(entry);

                entryParent.entries.splice(entryParent.entries.indexOf(entry), 1);
            };

            $scope.recreateJson = function () {
                var output = jsonified.map(
                    function (entry) {
                        return {
                            name: entry.name,
                            dateReviewed: new Date(),
                            entries: entry.entries
                        };
                    });

                console.log(angular.toJson(output));
            };

            $scope.getScope = function() {
                var x = {
                    selectedEntry: $scope.selectedEntry,
                    setName: $scope.selectedEntrySet ? $scope.selectedEntrySet.name : "",
                    selectedEntrySetLength: $scope.selectedEntrySet ? $scope.selectedEntrySet.entries.length : 1,
                    selectedEntryIndex: $scope.selectedEntryIndex
                };

                console.log(x);
                return x;
            };

            $scope.initAddMode = function () {
                $scope.addMode = true;

            };

            $scope.add = function () {
                console.log("Adding content");

                var newContent = $scope.newContent;
                var newContentAsArray = $scope.newContent.split("\n");

                console.log(newContentAsArray);
                var output = newContentAsArray.map(
                    function (entry) {
                        return {
                            name: entry.name,
                            dateReviewed: new Date(),
                            entries: entry.entries
                        };
                    });

                var newSet = { name: $scope.entryName, dateReviewed: new Date(), entries: newContentAsArray.map(function (entry) { return { text: entry }; }) };
                console.log(angular.toJson(newSet));

                $scope.jsonified.push(newSet);
            };

            $scope.selectedEntry = null;

//            var updatedJson = quizTopics.map(function (value, index) { return { name: "", entries: value.split("\n") }; });
            //          console.log(JSON.stringify(updatedJson));
        }

    </script>
}
